.pagination-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .total-pages {
    margin-top: 10px;
    font-weight: bold;
  }
  .center-align {
    text-align: center;
    vertical-align: middle;
  }
  .pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .total-pages {
    margin-left: 10px;
  }
  
  td img {
    display: block;
    margin: 0 auto;
  }
  
  td {
    text-align: center;
  }
  